body{
  margin: 10px;
}

.landingpage{
  margin: 0px;
  background-image: url("../ip2/assets/backgrounds/landing.jpg");
}
#meals{
  padding: 0px;
}
h3{
  text-align: center;
  font-weight: bold;
}
#breakfast{
  height: 140px;
  background-image: url("../ip2/assets/foodtop/breakfast.jpg");
  background-size: auto;
}
#lunch{
  height: 140px;
  background-image: url("../ip2/assets/foodtop/dinner.jpg");

  background-size: auto;
}
#dinner{
  height: 140px;
  background-image: url("../ip2/assets/foodtop/lunch.jpg");

  background-size: auto;
}
#hour{
  height: 70px;
  text-align: center;
}
#party{
  height: 70px;
  text-align: center;
}
#fastfood{
  padding: 30px 30px 30px 30px;
}
#fastfoodimg{
  border-style:outset;
  justify-content: center;
  margin: 10px 10px 10px 10px;
}
#drinks{
  padding: 30px 30px 30px 30px;
}
#drinksimg{
  border-style:outset;
  justify-content: center;
  margin: 10px 10px 10px 10px;
}
#foodtext{
  text-align: left;
  padding: 20px;
}
#drinkstext{
  text-align: right;
  padding: 20px;
}
#imgright{
  float: right;
}
#food{
  background-image: url("../ip2/assets/backgrounds/foodsBg.jpg");
  height: 600px;
}
.customers{
  height: 400px;
  background-color: white;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
.subscribe{
  background-image: url("../ip2/assets/backgrounds/subscribe.jpg");
  background-size: auto;
  height: 300px;
  text-align: center;
  color: white;
  padding-top: 80px;
}
.footer{
  background-color: #F15A29;
  height: 300px;
  color: white;
  font-weight: bold;
  padding-top: 50px;
  text-align: center;

}
